<body>
<div id="menu">
    
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#003399;">
        Resources
    </button>
    
    <ul>
        <li><a [routerLink]="['/resource']">All</a></li>
        <li><a [routerLink]="['/classRes']">Class-related</a></li>
        <li><a [routerLink]="['/financial']">Financial</a>
        <li><a [routerLink]="['/crimeRes']">Crime</a></li>
        <li><a [routerLink]="['/insecurity']" >Basic Needs</a></li>
        <li><a [routerLink]="['/tech']">Technology</a></li>
        <li><a [routerLink]="['/transportation']">Misc. Assistance</a></li>
    </ul>
</div>
<div class="container">
    <div id="res-photo">
        <img src="\assets\Mental Health.png" alt="mental-health">
    </div>
<div class="container">
<h3 id="mh">Mental health</h3>
<h4>National Institute of Mental Health</h4>
Provides contact information for various resources, recommended questions to ask when choosing a provider, clinical trial information, and access to ordering printed publications.
<br><a href= "https://www.nimh.nih.gov/health/find-help/index.shtml">https://www.nimh.nih.gov/health/find-help/index.shtml</a>

<h4>National Suicide Prevention Lifeline</h4>
Calls are free and confidential. Available 24 hours a day in English and Spanish.<br />
1-800-273-TALK (8255)

<h4>Substance Abuse and Mental Health Services Administration</h4>
Free, confidential, 24/7, 365-day-a-year treatment referral and information service (in English and Spanish)<br />
1-800-662-HELP (4357)<br />
<a href="https://www.samhsa.gov/">https://www.samhsa.gov</a>

<h4>Suicide Prevention Hotline</h4>
1-800-273-8255<br />
Text HELLO to 741741<br />
<a href="https://suicidepreventionlifeline.org/">https://suicidepreventionlifeline.org</a>

<h4>Veterans Crisis Line</h4>
1-800-273-8255 and Press 1<br />
Send a text message to 838255<br />
<a href="https://www.veteranscrisisline.net">https://www.veteranscrisisline.net</a>
</div>
