
<body>
    <h1 style="text-align: center;">Meet the vHugs Team</h1>
  <div class="flex-container">
    

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="assets/new-amiyra.png" alt="Amiyra Avatar" style="width:30vh;height:30vh;">
        </div>
        <div class="flip-card-back">
          <h1>Amiyra Alveranga</h1>
          <p>"Code life - forever learning and loving it." 
            Mother of heathens (not dragons). Requires coffee to access her full stack.
            </p>
        </div>
      </div>
</div>



    
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/new-carl.png" alt="Carl Avatar" style="width:30vh;height:30vh;">
            </div>
            <div class="flip-card-back">
              <h1>Carl Dolvin</h1>
              <p>Software developer supreme. First of his name. Leader of the Andals 
                and the Rhoynar, and the First Men. Leader of the Seven Kingdoms, and 
                Protector of the Realm. May he reign.
                </p>
            </div>
          </div>
        </div>


           <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/tropical-kristen.png" alt="Kristen Avatar" style="width:30vh;height:30vh;">
                </div>
                <div class="flip-card-back">
                  <h1>Kristen Jackson</h1>
                  <p>When Kristen is not planning her next vacation, she is busy volunteering
                     and learning a variety of new skills. She is currently writing a money-savng
                    techniques book, and enjoys discovering the “hidden gems” the world has to offer.
                    </p>
                </div>
              </div>
            </div>
          
        
      
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/new-sheera.png" alt="Sheera Avatar" style="width:30vh;height:30vh;">
              </div>
              <div class="flip-card-back">
                <h1>Sheera Sabur</h1>
                <p>Sheera has a passion for coding and new technologies. She loves
                    helping community organizations with grant-writing and website design.
                  </p>
              </div>
            </div>
        </div>
       
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/new-mike.png" alt="Mike Avatar" style="width:30vh;height:30vh;">
            </div>
            <div class="flip-card-back">
              <h1>Michael Taylor</h1>
              <p>Mike loves all things tech. When he is not coding he enjoys beating the 
                next level on his favorite video game. He can also do backflips.
                </p>
            </div>
        </div> 
    </div>
    </div>
</body>
