<body>
<div id="menu">

    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#003399;">
        Resources
    </button>
    
    <ul>
        <li><a [routerLink]="['/resource']">All</a></li>
        <li><a [routerLink]="['/classRes']">Class-related</a></li>
        <li><a [routerLink]="['/mhRes']">Mental health</a>
        <li><a [routerLink]="['/financial']">Financial</a>
        <li><a [routerLink]="['/crimeRes']">Crime</a></li>
        <li><a [routerLink]="['/insecurity']" >Basic Needs</a></li>
        <li><a [routerLink]="['/transportation']">Misc. Assistance</a></li>
    </ul>
</div>
<div class="container">
    <div id="res-photo">
        <img src="\assets\Computer-Internet.png" alt="computers">
    </div>
<div class="container">
<h3 id="tech">Technology Assistance</h3>
    <h4>JobsOhio</h4>
    41 S High St #1500<br />
    Columbus, OH 43215<br />
    1-855-874-2530<br />
    <a href="mailto:contact@jobsohio.com">Email JobsOhio</a><br />
    <a href="https://www.jobsohio.com">https://www.jobsohio.com</a>

    <h4>PCs For People</h4>
    <a href="https://www.pcsforpeople.org/eligibility/">https://www.pcsforpeople.org/eligibility</a>
</div>
