<body>
<div id="menu">
  
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#003399;">
        Resources
    </button>
    
    <ul>
        <li><a [routerLink]="['/resource']">All</a></li>
        <li><a [routerLink]="['/classRes']">Class-related</a></li>
        <li><a [routerLink]="['/mhRes']">Mental health</a>
        <li><a [routerLink]="['/financial']">Financial</a>
        <li><a [routerLink]="['/crimeRes']">Crime</a></li>
        <li><a [routerLink]="['/tech']">Technology</a></li>
        <li><a [routerLink]="['/transportation']">Misc. Assistance</a></li>
    </ul>
</div>
<div class="container">
    <div id="res-photo">
        <img src="\assets\Basic  Needs.jpg" alt="basic-needs">
    </div>
    <div class="container">
    <h3 id ="fi">Food insecurity</h3>
    <h4>Ohio Association of Foodbanks</h4>
    <a href="https://ohiofoodbanks.org/foodbanks/">https://ohiofoodbanks.org/foodbanks</a>

    <h3 id ="si">Shelter insecurity</h3>
    <h4>Coalition on Homelessness and Housing in Ohio</h4>
    175 S. Third St. Suite 580 Columbus, Ohio 43215<br />
    Phone: (614) 280-1984<br />
    <a href="https://cohhio.org/">https://cohhio.org</a>

    <h4>YWCA Columbus</h4>  
    <a href="https://www.ywcacolumbus.org/">https://www.ywcacolumbus.org</a>

    <h3 id="ci">Clothing Insecurity</h3>
    <h4>Dress for Success - Cleveland</h4>
    2239 East 55th Street<br />
    Cleveland, Ohio 44103<br />
    1-216-391-2301<br />
    <a href="https://cleveland.dressforsuccess.org/">https://cleveland.dressforsuccess.org</a>

    <h4>Dress for Success - Columbus</h4>
    1204 North High Street<br />
    Columbus, Ohio 43201<br />
    1-614-291-5420<br />
    <a href="https://columbus.dressforsuccess.org/">https://columbus.dressforsuccess.org</a>

    <h4>Shoes and Clothes for Kids</h4>
    3631 Perkins Avenue<br />
    Cleveland, Ohio 44114<br />
    1-216-881-7463 (SHOE)<br />
    info@sc4k.org<br />
    <a href="https://sc4k.org">https://sc4k.org</a>

    
</div>
