
<div id="menu">
   
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#003399;">
        Resources
    </button>
    
    <ul>
        <li><a [routerLink]="['/resource']">All</a></li>
        <li><a [routerLink]="['/classRes']">Class-related</a></li>
        <li><a [routerLink]="['/mhRes']">Mental health</a>
        <li><a [routerLink]="['/crimeRes']">Crime</a></li>
        <li><a [routerLink]="['/insecurity']" >Basic Needs</a></li>
        <li><a [routerLink]="['/tech']">Technology</a></li>
        <li><a [routerLink]="['/transportation']">Misc. Assistance</a></li>
    </ul>
</div>
<div class="container">
    <div id="res-photo">
        <img src="\assets\Finances.png" alt="finances">
    </div>
</div>
<div class="container">
<h3 id ="unemp">Unemployment Resources</h3>
    <h4>Ohio Department of Job and Family Services</h4>
    <a href="https://jfs.ohio.gov/">https://jfs.ohio.gov</a>
<h3 id="fa">Financial Assistance</h3>
    <h4>HFLA Interest Free Loans</h4>
    Covid and regular loans
    <a href="https://interestfree.org/">https://interestfree.org</a>

    <h3 id="legal">Legal</h3>
    <h4>ABA Free and Low-cost legal resources</h4> 
    <a href="https://www.americanbar.org/groups/legal_services/flh-home/flh-free-legal-help/">https://www.americanbar.org/groups/legal_services/flh-home/flh-free-legal-help/</a>

    <h4>Legal Aid Society of Cleveland</h4> 
    <a href="https://lasclev.org/">https://lasclev.org</a>

    <h4>Legal Aid Society of Columbus</h4>
    <a href="https://www.columbuslegalaid.org/">https://www.columbuslegalaid.org</a>

    <h4>Cleveland Marshall Law Clinic</h4> 
    <a href="https://www.law.csuohio.edu/academics/clinics">https://www.law.csuohio.edu/academics/clinics</a>

    <h4>Case Western Kramer Law Clinic</h4> 
    <a href="https://case.edu/law/clinic">https://case.edu/law/clinic</a> 

    <h4>U.S. Equal Employment Opportunity Commission</h4> 
    <a href="https://www.eeoc.gov/how-file-charge-employment-discrimination">https://www.eeoc.gov/how-file-charge-employment-discrimination</a> 

    <h4>Human Rights Campaign Resources </h4>
    <a href="https://www.hrc.org/resources/municipalities">https://www.hrc.org/resources/municipalities</a>
</div>
