<body>
<div id="menu">
    
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#003399;">
        Resources
    </button>
    
    <ul>
        <li><a [routerLink]="['/resource']">All</a></li>
        <li><a [routerLink]="['/classRes']">Class-related</a></li>
        <li><a [routerLink]="['/mhRes']">Mental health</a>
        <li><a [routerLink]="['/financial']">Financial</a>
        <li><a [routerLink]="['/crimeRes']">Crime</a></li>
        <li><a [routerLink]="['/insecurity']" >Basic Needs</a></li>
        <li><a [routerLink]="['/tech']">Technology</a></li>
    </ul>
</div>
<div class="container">
    <div id="res-photo">
        <img src="\assets\Multiple-Resources.png" alt="multi-resc">
    </div>
<div class="container">
<h3 id="tran">Transportation</h3>
<h4>United Way</h4>
<a href="https://www.211unitedway.org/search-category/transportation">https://www.211unitedway.org/search-category/transportation</a>

<h3 id="cc">Child Care</h3>
<h4>Department of Job and Family Services</h4>
<a href="https://jfs.ohio.gov/cdc/Page4.stm">https://jfs.ohio.gov/cdc/Page4.stm</a>

<h3 id="ec">Elder Care</h3>
<h4>Seniors and Caregivers Resources</h4>
<a href="https://ohio.gov/wps/portal/gov/site/residents/topic-hubs/home-and-community/seniors-and-caregivers/seniors-and-caregivers">https://ohio.gov/wps/portal/gov/site/residents/topic-hubs/home-and-community/seniors-and-caregivers/seniors-and-caregivers</a>

<h3 id="util">Utility</h3>
<h4>Ohio Development Services Agency</h4>
<a href="https://development.ohio.gov/is/is_energyassist.htm">https://development.ohio.gov/is/is_energyassist.htm</a>

<h3 id="mr">Multiple Resources</h3>
<h4>211 (United Way)</h4>
Dial 211<br />
<a href="https://www.211.org/">https://www.211.org/</a>

<h4>Franklin County Ohio assistance programs</h4>
<a href="https://www.needhelppayingbills.com/html/franklin_county_assistance_pro.html">https://www.needhelppayingbills.com/html/franklin_county_assistance_pro.html</a>

<h4>Ohio Benefits</h4>
<a href="https://benefits.ohio.gov">https://benefits.ohio.gov</a>
</div>
