
<div id="menu">

    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#003399;">
        Resources
    </button>
    
    <ul>
        <li><a [routerLink]="['/resource']">All</a></li>
        <li><a [routerLink]="['/classRes']">Class-related</a></li>
        <li><a [routerLink]="['/mhRes']">Mental health</a>
        <li><a [routerLink]="['/financial']">Financial</a>
        <li><a [routerLink]="['/insecurity']" >Basic Needs</a></li>
        <li><a [routerLink]="['/tech']">Technology</a></li>
        <li><a [routerLink]="['/transportation']">Misc. Assistance</a></li>
    </ul>
    </div>
    <div class="container">
        <div id="res-photo">
            <img src="\assets\Crime.jpg" alt="crime">
        </div>
<div class="container">
<h3 id="crime">Crime</h3>
    <h4>National Center for Victims of Crime</h4>
    1-855-4-VICTIM (1-855-484-2846) <br />
    <a href = "https://victimconnect.org/get-help/reporting-a-crime">https://victimconnect.org/get-help/reporting-a-crime</a> <br />

    <h3 id="domint">Crime - Domestic/Interpersonal Violence</h3>
    <h4>National Domestic Violence Hotline</h4>
    1-800-799-7233 <br />
    <a href="https://www.thehotline.org/">https://www.thehotline.org</a> 

    <h4>Cleveland Rape Crisis Center</h4>
    <a href="www.clevelandrapecrisis.org">www.clevelandrapecrisis.org</a>

    <h4>Domestic Violence And Child Advocacy Center & Hotline</h4>
    <a href="http://www.dvcac.org/">http://www.dvcac.org</a>

    <h4>Journey Center for Safety and Healing</h4>
    <a href="http://www.dvcac.org/">http://www.dvcac.org</a>

    <h4>RAINN National Sexual Assault Hotline</h4>
    1-800-656-HOPE (4673)<br />
    <a href="https://www.rainn.org/">https://www.rainn.org</a>

    <h4>National Human Trafficking Hotline</h4>
    1-888-373-7888<br />
    <a href="https://humantraffickinghotline.org">https://humantraffickinghotline.org</a>

    <h3 id="sc">Crime - Scams</h3>
    <h4>Federal Trade Commission</h4>
    <a href>https://www.ftc.gov/faq/consumer-protection/submit-consumer-complaint-ftc</a> 

    <h4>Scam alerts</h4> 
    <a href="https://www.consumer.ftc.gov/features/scam-alerts">https://www.consumer.ftc.gov/features/scam-alerts</a>

    <h4>Ohio Attorney General</h4>
    Complaints, scams, and unwanted phone calls <br />
    <a href="https://www.ohioattorneygeneral.gov/Individuals-and-Families/Consumers">https://www.ohioattorneygeneral.gov/Individuals-and-Families/Consumers</a>
</div>
